<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control-title" %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, class:"form-control-content" %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :note_category_id, {"GOOD" => 1, "BAD" => 2}, {include_blank:"選択してください"} %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class:"form-control-icon" %>
  </div>


<% end %>