
<div class="show-note-content">


<ul style="padding:0px 10px;">
	<li style="border-bottom:1px dotted #808080; margin-bottom:10px;" >
	  <h3>
	  <%= @note.title %>
	  </h3>
	</li>
	<li>
	   <%= image_tag @note.photo.url(:large), :style=>"width:100%;" %>
	</li>

	<li style ="padding:10px 10px; border-bottom:1px dotted #808080;">
	  <%= simple_format(@note.content) %>
	</li>

	<li style = "font-size:9px; text-align:center; border-bottom:1px dotted #808080; padding:10px 0px; " >
	  <%=link_to image_for(@note.user), user_path(@note.user) %><br><%=@note.user.name %>
	</li>

	<li style="padding-top:20px;">
	<p>コメントを書く</p>
	<%= render 'posts/form' %>
	</li>

	<li style="text-align:right; font-size:12px;">
	<div id="like-link">
	    <% if user_signed_in? && !current_user?(@note.user) %>
		<%= render 'likes/like_links', note:@note %>
		<% end %>
	</div>
		<%=link_to @note.likes.count, liking_users_note_path(@note.id), id:'like-count' %>人がいいね！と言っています
	</li>

	<li>
	<p style="text-align:center; font-size:15px; padding:10px 10px 0px 10px;"> コメント一覧　<%= @note.posts.count %>件</p>
	<%= render @note.posts.order(created_at: :desc) %>
	</li>

	<li style = "text-align:right; padding:5px 5px;" >
	<a class="time-note-show" ><%= @note.created_at.to_formatted_s(:without_second) %></a>
	<% if user_signed_in? && current_user?(@note.user) %>
	<%= link_to 'Edit', edit_note_path(@note) %> |
	<%= link_to 'Destroy', note_path(@note.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
	<% end %>

	<%= link_to 'Back', notes_path %> 
	</li>

</ul>

</div>