<div class="row" style="background-color:#F0F0F0;">


<div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

 <%= render "sidebar" %>

</div>


<div class="col-md-2 col-xs-0" >
</div>

<div class="col-md-10 col-xs-12" style="background-color:#F0F0F0;">
	

<a id="notice"><%= notice %></a>


	<div class="note-index" style="width:100%; padding-top:25px; text-align:center; ">

	<%= render "category" %>

	</div>

	<div class="contents">

	<%= render @notes %>

	</div>

	<div class="pagenation_bottom" style="clear:left; text-align:center;">
	<%= will_paginate @notes, renderer: BootstrapPagination::Rails %>
	</div>

</div>

</div>