<p id="notice"><%= notice %></p>

<div class="row">

<% if user_signed_in? %>
   <div class="col-lg-2" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

     <%= render "sidebar" %>

   </div>
 <% end %>

<div class="col-lg-2" >
</div>

<div class="col-lg-7" style="padding-top:20px;">

	<%=render "show" %>

</div>

<div class="col-lg-3" style="padding-top:20px;">

	<% @random_notes.limit(4).each do |random_note| %>

	<div class="note-random" style="width:80%; height:280px; border:1px solid #808080; margin-bottom:40px;border-radius:5px 5px 10px 10px;">
	<%=link_to image_tag(random_note.photo, {:style=>"width:100%; hegiht:200px; border-radius:5px 5px 0px 0px;"}), note_path(random_note) %>
	<%=link_to random_note.title, note_path(random_note), :style=>"color:black; font-size:16px;" %><br>
	<%=link_to random_note.content.truncate(50), note_path(random_note), :style=>"color:black; font-size:10px;" %>
	</div>

	<% end %>

</div>

</div>
