
<div class="row" style="background-color:#F0F0F0;">


<div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

 <%= render "sidebar" %>

</div>


<div class="col-md-2 col-xs-0" >
</div>

<div class="col-md-7 col-xs-12">

	<%=render "show" %>

</div>

<div class="col-md-3 col-xs-12" style="padding-top:20px; background-color:#F0F0F0;">

	<% @random_notes.limit(4).each do |random_note| %>

	<div class="note-random" >

	<div class="note-random-under">
	<ul>
		<li>
			<%=link_to image_tag(random_note.photo.url(:thumb), {:style=>"width:100%; height:200px; border-radius:5px 5px 0px 0px;"}), note_path(random_note) %>
		</li>
		<li style=" padding:5px;">
			<%=link_to random_note.title.truncate(22), note_path(random_note), :style=>"font-size:16px;", class:"black" %>
		</li>
		<li style=" padding:5px;">
			<%=link_to random_note.content.truncate(50), note_path(random_note), :style=>"color:black; font-size:10px;" %>
		</li>
	</ul>
	</div>
	
	</div>

	<% end %>

</div>

</div>
