<% @articles.offset(32).each do |article| %>

<div class="article-content">

<div class="article-content-sub">

<%= link_to image_tag(article.photo, {:style=> "height:180px; width: 100%; padding-bottom:15px; border-radius:5px 5px 0px 0px;"}), article %>

<ul style="padding:0px 10px;">
   <li>
        <a>
          <strong><%=link_to article.title, article, :style=>"font-size:18px;", class:"black" %></strong>
        </a><br><br>
        <a>
          <%=link_to article.content.truncate(30), article, :style=>"font-size:13px; padding:0px 5px;", class:"black" %>
        </a>
  </li>    

        <a style="font-size:13px; color:#808080; position:absolute; bottom:5px; left:10px;">
          <span class="fa fa-connectdevelop">
          <%= article.source %>
        </span>
        </a>
        <a style="font-size:13px; color:#808080; position:absolute; bottom:5px; right:10px;">
           <%= article.created_at.to_formatted_s(:without_second) %>
        </a>

</ul>

</div>

</div>

<% end %>
