<div class="article-content">

	<a class="article-index-photo"> 
		<%=link_to image_tag(article.photo), article_path(article) %>
	</a><br>
        <a><%= article.title %></a><br>
        <a><%= article.content.truncate(30) %></a><br>
        <a><%= article.source %></a><br>
        <a><%= link_to 'Show', article %></a><br>
        <a><%= link_to 'Edit', edit_article_path(article) %></a>
        <a><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></a>


</div>