		<div class="show-article-content">

		   <%= link_to image_tag(@article.photo, {class:"show-article-content-image"}), @article.url, :target=>"_blank" %>
		  
			<ul>
			  <li>
			   <strong><%= link_to @article.title, @article.url, :style=> "font-size:20px; color:black;", :target=>"_blank" %></strong>
			  </li>

			<li>
			  <%= simple_format(@article.content.truncate(150)) %>
			</li>

			<li style="text-align:center;">
			  <a><%= link_to "続きを読む", @article.url, :style=> "display:inline-block; width:60%; color:white; text-align:center; padding:15px; background-color:#239b76; cursor:pointer; opacity:0.7;", :target=>"_blank" %></a>
			</li>

			<li style="color:#808080;">
			  <span class="fa fa-connectdevelop"></span>
			  <%= @article.source %>
			</li>

			<li style="padding-top:20px;">
			<p>コメントを書く</p>
			<%= render 'comments/form' %>
			</li>

			<li>
			<p style="text-align:center;width:100%; border-bottom:1px dotted #808080; padding-bottom:10px; font-size:15px;"> コメント一覧　<%= @article.comments.count %>件</p>
			<%= render @article.comments.order(created_at: :desc) %>
			</li>

            <li style="text-align:right;padding:5px 5px;">
      
			<% if user_signed_in? && current_user.email == "woodvillage0609@gmail.com" %>
			<%= link_to 'Edit', edit_article_path(@article) %> |
			<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> |
			<% end %>

			 <%= link_to 'Back', articles_path %>
			</li>

		</div>
