		<div class="show-article-content">

		   <%= link_to image_tag(@article.photo, {class:"show-article-content-image"}), @article.url, :target=>"_blank" %>
		  
			<ul>
			  <li>
			   <strong><%= link_to @article.title, @article.url, :style=> "font-size:20px; color:black;", :target=>"_blank" %></strong>
			  </li>

			<li>
			  <%= simple_format(@article.content.truncate(150)) %>
			</li>

			<li style="text-align:center;">
			  <a><%= link_to "続きを読む", @article.url, class:"article-tab", :target=>"_blank" %></a>
			</li>

			<li style="color:#808080;">
			  <span class="fa fa-leaf"></span>
			  <%= @article.source %>
			</li>

			<li style="padding-top:20px;">
			<p>コメントを書く</p>
			<%= render 'comments/form' %>
			</li>

			<li>
			<p style="text-align:center;width:100%; border-bottom:1px dotted #808080; font-size:15px;"> コメント一覧　<%= @article.comments.count %>件</p>
			<%= render @article.comments.order(created_at: :desc) %>
			</li>
			
      
			<% if user_signed_in? && current_user.email == "woodvillage0525@gmail.com" %>

			<li style="text-align:left;padding:5px 10px;">
			<%= link_to 'Back', articles_path %>
			</li>

			<li style="position:absolute; right:0px; bottom:-4px;">
			<%= link_to 'Edit', edit_article_path(@article) %> |
			<%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %> 
			</li>

			<% else %>

			 <li style="text-align:left;padding:5px 10px;">
			<%= link_to 'Back', articles_path %>
			</li>

			 <% end %>

			</li>

		</div>
