
<div class="article-sidebar" style="height:890px; border-bottom:1px solid #808080; border-right:1px solid #808080;">


  <% if user_signed_in? %>

  <div class="article-side-photo" style="height:200px; padding-top:60px; ;border-bottom:1px solid #808080; text-align:center;">
     <%=link_to image_for(current_user), user_path(current_user) %><br>
      <%=link_to current_user.name, user_path(current_user), class:"black" %>
  </div>

  <p style="padding:10px; text-align:center; border-bottom:1px solid #808080;"><strong>あなたのPick記事一覧</strong></p>

    <div class="article-side-list" style="padding:0px 20px; height:450px; overflow-y:scroll;">
     <% current_user.comment_articles.each do |article| %>
        <h5><strong><%=link_to article.title, article, class:"black" %></strong></h5>
        <p style="font-size:12px; border-bottom:1px dotted #808080; margin-bottom:20px; padding-bottom:15px;">
          <%= article.content.truncate(30) %>
        </p>
     <% end %>
    </div>


 <% else %>


 <div class="sidebar-all-photo">
      <a><%= link_to image_tag("IMG_3169.jpg", {:style=>"height:100%; width:100%;"}) %></a>
 </div>

 <div class="sidebar-all-photo-sub">
  <a><%=link_to "アカウント作成", new_user_registration_path, class: "btn btn-default" %></a>
 </div>

  <p style="padding:10px; text-align:center; border-bottom:1px solid #808080;"><strong>ランダム記事一覧</strong></p>

    <div class="article-side-list" style="padding:0px 20px; height:610px; overflow-y:scroll;">
     <% @random_articles.limit(8).each do |random_article| %>
        <h5><strong><%=link_to random_article.title, article_path(random_article), class:"black" %></strong></h5>
        <p style="font-size:12px; border-bottom:1px dotted #808080; margin-bottom:20px; padding-bottom:15px;">
          <%= random_article.content.truncate(30) %>
        </p>
     <% end %>
    </div>


 <% end %>

</div>