
<div class="row" style="background-color:#F0F0F0;">

   <div class="col-md-2 col-xs-0" style="position:fixed; z-index:5; left:0px; padding:0px; background-color:white;">

     <%= render "sidebar" %>

   </div>

   <div class="col-md-2 col-xs-0"></div>


<div class="col-md-7 col-xs-12" style="background-color:#F0F0F0;">

	<a id="notice"><%= notice %></a>

	<%= render "show" %>

</div>	

<div class="col-md-3 col-xs-12">

<% @random_articles.limit(4).each do |random_article| %>
<div class="random-article">

<ul>
<li>	
<%=link_to image_tag(random_article.photo, {class:"random-article-photo"}), article_path(random_article) %>
</li>

<li style="padding:5px; background-color:white;">
<%= link_to random_article.title.truncate(50), article_path(random_article), class:"black", :style=>"font-size:16px;" %>
</li>

</div>

<% end %>

</div>

</div>