
<div class="user-sidebar" style="background-color:white;">
<a><%=link_to image_tag(@user.image), user_path(@user.id), class:"img-circle" %></a>

<a>
  <%= render 'users/stats' %>
</a>

<a>
  <%= render 'users/follow_form' if user_signed_in? %>
</a>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= simple_format(@user.email) %>
</p>

<p>
  <%= @user.likes.count %>個の投稿にいいね！しています。
</p>

<ul>
   <% if current_user?(@user) %>
  <li><%= link_to 'New Note', new_note_path, class:"black" %>
  </li>
  <li><%= link_to 'Edit Profile', edit_user_path(current_user.id), class:"black" %></li>
  <% end %>
  <li><%= link_to "Pick Notes", like_notes_user_path(@user.id), class:"black" %></li>
  <li><%= link_to "Following Lists", subscribed_user_path(@user.id), class:"black" %>
  </li>
  <li><%= link_to "Pick Articles", comment_articles_user_path(@user.id), class:"black" %>
  </li>
  <% if user_signed_in? && current_user.email == "woodvillage0609@gmail.com" %>
   <li><%= link_to 'New Article', new_article_path, class:"black" %></li>
  <li><%= link_to 'New Micropost', new_micropost_path , class:"black" %></li>
  <% end %>
</ul>

</div>