<a id="notice"><%= notice %></a>

<div class="sidebar">
<a><%=link_to image_for(@user), user_path(@user.id) %></a>

<a>
  <%= render 'users/stats' %>
</a>

<a>
  <%= render 'users/follow_form' if user_signed_in? %>
</a>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <%= @user.likes.count %>個の投稿にいいね！しています。
</p>

<ul>
   <% if current_user?(@user) %>
  <li><%= link_to 'New Note', new_note_path, :style=>"color:black;" %></li>
  <li><%= link_to 'Edit Profile', edit_user_path(current_user.id),:style=>"color:black;" %></li>
  <% end %>
  <li><%= link_to "Picks", like_notes_user_path(@user.id),:style=>"color:black;" %></li>
  <li><%= link_to "Comment Lists", post_notes_user_path(@user.id),:style=>"color:black;" %></li>
  <li><%= link_to "Following Lists", subscribed_user_path(@user.id),:style=>"color:black;" %></li>
</ul>

</div>


<div class="contents">

<%= render@notes %>

</div>

