<div class= "top-wrapper">
	<div class="under-wrapper">
	<ul>
	<li>
		<h1>
			まちづくりをもっとみんなの手で
		</h1>
		<p>
			このWebsiteは、まちづくりのアイディアや発想を共有するための投稿サイトです。まちづくりをもっと楽しく。まちづくりをもっとみんなの手で。
		</p>
	</li>

	<a class="notice white"><%= notice %></a>
	<a class="alert white"><%= alert %></a>

	<li>
		<a>
			<%= link_to "新規登録はこちら", new_user_registration_path, class: "btn signup", :style=>"text-decoration:none; color:white;" %>
		</a>
		<p>
			すでに登録済みの方は
		</p>
		<a>
		 <%= link_to " Facebookでログイン", user_omniauth_authorize_path(:facebook), class: "btn facebook fa fa-facebook", :style=>"color:white;" %>
		</a>
		<a>
		 <%= link_to " Twitterでログイン", new_user_session_path, class: "btn twitter fa fa-twitter", :style=>"color:white;" %>
		</a>
	</li>
	</ul>

	</div>
</div>

<div class="hint-wrapper">

		<div class="heading">
			<h2>まちづくりのヒント</h2>
			<p>あなたの街の「いいね」/「残念」をみんなに共有しましょう。</p>
		</div>
		<div class="hints">
			<div class="under-wrapper">
			  <ul>
			  <li>
				<h3>街への想いをもっと言葉に。<br>あなたの街への想いをみんなに共有しませんか。</h3><br>
				<p>街を歩きながらいつも感じること。いつも考えること。いいことも悪いことも含めて、<br>そんな一瞬を切り取って是非みんなにシェアしましょう。</p>
			   </li>

			   <li><%= link_to "投稿一覧を見る", notes_path, class:"btn btn-info btn-lg", :role=>"button" %>
			   </li>
			  </ul>
	     	</div>
		</div>

</div>

<div class="idea-wrapper">

		<div class="heading">
			<h2>まちづくりの記事</h2><br>
			<p>「いいね」なまちづくり記事にみんなでコメントしよう。</p>
		</div>
		<div class="ideas">
			<div class="under-wrapper">
			 <ul>
			 	<li>
				<h3>世界中の素敵な取り組み<br>そんなまち記事にみんなでコメントしよう。</h3><br>
				<p>建築、アート、デザイン、そんな切り口からユニークな取り組みが世界では実践されています。<br>世界の街づくりの取り組み記事を是非みんなコメントして盛り上げましょう</p>
				</li>
				
			   <li>
			   <%= link_to "記事一覧を見る", articles_path, class:"btn btn-success btn-lg", :role=>"button" %>
			   </li>
			 </ul>
		    </div>
		</div>

</div>

<div class="discussion-wrapper">

		<div class="heading">
			<h2>まちづくりの「お題」</h2><br>
			<p>毎週更新される街の「お題」にみんなの意見を載せてみよう。</p>
		</div>
		<div class="discussions">
			<div class="under-wrapper">
			  <ul>
			    <li>
				<h3>街に関する問い<br>毎週更新される街に関する「お題」にみんなで意見をぶつけ合おう。</h3><br>
				<p>街に関する素朴な疑問や問いを毎週ぶつけています。お題に対してみんなで意見をぶつけ合い、熱く語り合おう。</p>
				</li>

				<li><%= link_to "テーマ一覧を見る", microposts_path, class:"btn btn-warning btn-lg", :role=>"button" %>
				</li>
			   </ul>
		    </div>
		</div>

</div>


