<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :content  %><br>
    <%= f.text_area :content, class: "form-control", :style=>"height:100px;"  %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する", class: "btn btn-success",:style=>"background-color:#239b76;" %>
  </div>
<% end %>
