<div class="micropost-content" style="background-color:white; padding:10px;">

<p style="padding-bottom:10px;">

<strong><%=link_to micropost.title, micropost, :style=>"font-size:20px; color:black;" %></strong>

</p>


        <a style="font-size:13px; color:#808080; position:absolute; bottom:5px; right:10px;">
           <%= micropost.created_at.to_formatted_s(:without_second) %>
        </a>

</ul>


<table style="width:100%; margin-bottom:40px;">
	<tr>

		<% micropost.opinions.limit(1).offset(0).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= image_for(opinion.user) %>
			<%= opinion.user.name %>
		</td>
		<% end %>

		<% micropost.opinions.limit(1).offset(1).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= image_for(opinion.user) %>
			<%= opinion.user.name %>
		</td>
		<% end %>

		<% micropost.opinions.limit(1).offset(2).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= image_for(opinion.user) %>
			<%= opinion.user.name %>
		</td>
		<% end %>

	</tr>

	<tr>
	    <% micropost.opinions.limit(1).offset(0).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= opinion.body.truncate(80) %>
		</td>
		<% end %>

	    <% micropost.opinions.limit(1).offset(1).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= opinion.body.truncate(80) %>
		</td>
		<% end %>

		 <% micropost.opinions.limit(1).offset(2).order(created_at: :desc).each do |opinion| %>
		<td>
			<%= opinion.body.truncate(80) %>
		</td>
		<% end %>

	</tr>	

</table>


</div>
