<div class="micropost-content">

<div class="micropost-content-sub">

<p style="padding-bottom:5px;">

<strong><%=link_to micropost.title, micropost, :style=>"font-size:20px;", class:"black" %></strong>

</p>


<a style="font-size:13px; color:#808080; position:absolute; bottom:5px; right:10px;">
   <%= micropost.created_at.to_formatted_s(:without_second) %>
</a>

<% micropost.opinions.limit(6).order(created_at: :desc).each do |opinion| %>

<div class="micropost-table">

<div class="micropost-table-sub">

<table>

<tr>
<td>
<%= image_for(opinion.user) %>
<a style="color:#000080;"><strong><%= opinion.user.name %></strong></a>
</td>
</tr>
<tr>
<td>
<%= opinion.body.truncate(80) %>
</td>
</tr>

</table>

</div>

</div>

<% end %>

</div>

</div>
