<div class="micropost-container" style="padding-top:20px;">

		<div class="show-micropost-content" style="width:85%;">
		  
		<ul>
			  <li style="padding-bottom:30px;">
			   <h3><strong><%= @micropost.title %></strong></h3>
			  </li>

			<li style="padding-bottom:30px;">
			   <p><%= @micropost.content %></p>
			</li>

			<li style="padding-bottom:30px;">
			<p style="text-align:center; font-size:15px;"> コメント一覧　<%= @micropost.opinions.count %>件</p>
			<%= render @micropost.opinions %>
			</li>

			<li>
			<p>コメントを書く</p>
			<%= render 'opinions/form' %>
			</li>

		</ul>

			<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
			<%= link_to 'Back', microposts_path %> |
			<%= link_to 'Destroy', micropost_path(@micropost), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

	</div>
