<div class="show-micropost-content">

			<div class="background-micropost">
				<%= image_tag(@micropost.picture, {:style=>"width:100%; max-height:300px; border-radius:5px 5px 0px 0px;"}) %>

				<div class="under-micropost">
				</div>

			</div>
		  

			  <li style="padding-bottom:30px;">
			   <h3><strong><%= @micropost.title %></strong></h3>
			  </li>

			<li style="padding-bottom:30px;">
			   <p><%= @micropost.content %></p>
			</li>

		<ul>

			<li>
			<p>コメントを書く</p>
			<%= render 'opinions/form' %>
			</li>

			<li style="padding-bottom:30px;">
			<p style="text-align:center; font-size:17px; width:100%; border-bottom:1px dotted #808080;"> コメント一覧　<%= @micropost.opinions.count %>件</p>
			<%= render @micropost.opinions.order(created_at: :desc) %>
			</li>

		</ul>

			<% if user_signed_in? && current_user.email == "woodvillage0525@gmail.com" %>

			<li style="text-align:left;padding:0px;">
			<%= link_to 'Back', microposts_path %> 
			</li>

			<li style="position:absolute; right:10px; bottom:10px;">
			<%= link_to 'Edit', edit_micropost_path(@micropost) %> |
			<%= link_to 'Destroy', micropost_path(@micropost), method: :delete, data: { confirm: 'Are you sure?' } %> 
			</li>

			<% else %>
			<%= link_to 'Back', microposts_path %> 
			<% end %>
			
</div>


