<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Synctown</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>

<div class = "header">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="font-size:25px; color:white;" ><span class="fas fa-sync-alt"> <%= link_to "SyncTown", home_top_path, class:"navbar-brand", :style=>"font-size:25px; color:white; padding-left:8px;" %></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right" style="font-size:15px;">

<% if user_signed_in? %>

      	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><%=link_to "記事一覧", articles_path %></li>
            <li><%=link_to "投稿一覧", notes_path %></li>
             <li><%=link_to "テーマ一覧", microposts_path %></li>
            <li><%=link_to "ユーザー一覧", users_path %></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to "New Note", new_note_path %></li>
          </ul>
        </li>

        <li><%=link_to "Profile", current_user %></li>

        <li style="padding:0px 15px;">
        <button type="button" class="btn btn-default navbar-btn">
        	<%=link_to "Log Out", destroy_user_session_path, method: :delete, :style=>"color:black;" %>
        </button>
        </li>

<% else %>

        <li class="dropdown" style="padding-right:10px;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lists <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><%=link_to "記事一覧", articles_path %></li>
           <li><%=link_to "投稿一覧", notes_path %></li>
           <li><%=link_to "テーマ一覧", microposts_path %></li>
          </ul>
        </li>

        <li class="top-icon-padding">
        <button class="btn btn-default navbar-btn" >
          <%=link_to "Register", new_user_registration_path, :style=>"color:black;", :role=>"button" %>
        </button>
        </li>

       	<li class="top-icon-padding">
         <button type="button" class="btn btn-success navbar-btn">
          <%=link_to "Sign In", new_user_session_path, :style=>"color:white;" %>
         </button>
        </li>

<% end %>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
			
</div>

<div class="container" style="padding-top:50px;">

</div>

<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>" style="margin:0px; padding:8px; border-radius:0px;">
    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
    <%= msg %>
  </div>
<% end %>

<%= yield %>


<div class = "footer">
	<div class="footer-left">
		<ul>
			<li>会社概要</li>
			<li>サービスについて</li>
			<li>お問い合わせ</li>
		</ul>
	</div>
</div>

</body>
</html>
